# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and debug
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Test artefacts
coverage*
.pytest_cache/

# Database dumps
*.sqlite3
